@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,200;1,600&display=swap");

.delete-button {
  background-color: #addaff70;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 14px;
  margin: 3px 8px;
  outline: none;
  padding: auto 3px;
  transition-duration: 0.4s;
  width: 70px;
}

.div-labor {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0px;
}

.dollar-sign {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin: 8px 5px 8px 0px;
}

.h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}

.input {
  background-color: #ffffff00;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 14px;
  margin: 3px 8px;
  outline: none;
  padding-left: 5px;
  width: 150px;
}

.input-bar {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 10px;
  vertical-align: middle;
}

.input-button {
  background-color: #addaff70;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 14px;
  margin: 3px 8px;
  outline: none;
  padding: auto 3px;
  transition-duration: 0.4s;
  width: 70px;
}

.input-number {
  background-color: #ffffff00;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 14px;
  margin: 3px 8px;
  outline: none;
  padding-left: 5px;
  width: 120px;
}

.input-salary {
  background-color: #ffffff00;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 14px;
  outline: none;
  padding-left: 5px;
  width: 120px;
}

.over-budget {
  background-color: #8a2929;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  padding: 10px;
  transition: 0.4s linear;
}

.p-input {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 14px;
  margin: 3px 8px;
  width: 80px;
}

.p-labor {
  border: 1px solid #ccc;
  display: inline-flex;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 14px;
  margin: 20px 0px;
  padding: 10px;
  text-align: right;
  transition: 0.4s linear;
}

.salary-div {
  box-sizing: content-box;
  display: inline-flex;
  margin: 3px 8px;
  padding: 0;
}

.tab {
  margin-right: 20px;
}
.table-button-cell {
  width: 100px;
}

.td {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 0.25rem;
  text-align: left;
}

.th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0.25rem;
  text-align: left;
}

::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  padding-left: 5px;
}

body {
  background-color: #ddd19712;
  margin: 20px;
}

button:hover {
  background-color: black;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  webkit-appearance: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
